.vscode-light {
  /* keybinding */
  --keybinding-label-background: rgba(221, 221, 221, 0.4);
  --keybinding-label-foreground: #555;
  --keybinding-label-border: rgba(204, 204, 204, 0.4);
  --keybinding-label-bottom-border: rgba(187, 187, 187, 0.4);
  --keybinding-label-shadow: rgba(187, 187, 187, 0.4);

  /* action */
  --action-hover-background: rgba(90, 93, 94, 0.31);

  /* fieldset */
  --fieldset-border: #cccccc33;
}
