.vscode/**
.vscode-test/**
out/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
vscode-vue-custom-editor.vsix
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
media/**
!media/dist/**
media/dist/**/*.map
webpack.config.js
node_modules
.github
